# For OS X
.DS_Store

# For R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.nb.html

submissions
submissions_29
data/Student list.numbers
data/students_groups.xlsx
_HCI HS 20 Peer assessment adjustments.numbers
output/calculated_adjustments.xlsx
_HCI HS2020 - input
_HCI HS2020 - output
